$enable-dark-mode: true;
$border-opacity: 0.16 !default;

// Dark mode
$dark-mode-darken: darken($dark, 2%) !default;
$dark-mode-lighten: lighten($dark, 2%) !default;
$dark-mode-border-color: lighten($dark, 20%) !default;
$dark-mode-border-color-light: lighten($dark, 35%) !default;
$dark-mode-text: $light;
$border-color-transparent: rgba($text-muted, $border-opacity) !default;

@mixin autodark-image {
	filter: brightness(0) invert(1);
}

@mixin dark-mode {
	@if $enable-dark-mode {
		$selector: &;

		@media not print {
			@if ($selector) {
				.theme-dark & {
					@content;
				}
			} @else {
				.theme-dark {
					@content;
				}
			}
		}
	}
}

// stylelint-disable declaration-no-important
// body:not(.theme-dark) .hide-theme-light {
// 	display: none !important;
// }

@include dark-mode {
	& {
		--#{$variable-prefix}body-color: #{$dark-mode-text};
		--#{$variable-prefix}body-color-rgb: #{to-rgb($dark-mode-text)};

		--#{$variable-prefix}body-bg: #{$dark-mode-darken};
		--#{$variable-prefix}body-bg-rgb: #{to-rgb($dark-mode-darken)};

		--#{$variable-prefix}card-bg: #{$dark};
		--#{$variable-prefix}card-bg-rgb: #{to-rgb($dark)};

		--#{$variable-prefix}border-color: #{$dark-mode-border-color};
		--#{$variable-prefix}border-color-light: #{$dark-mode-border-color-light};

		color: $dark-mode-text;
		background-color: $dark-mode-darken;
	}

	.hide-theme-dark {
		display: none !important;
	}

	.text-body {
		color: $dark-mode-text !important;
	}

	.nav-item .nav-link a {
		color: $white !important;
		background-color: $dark-mode-lighten !important;
	}

	.bg-body {
		background-color: $dark-mode-lighten !important;
	}

	.border-bottom {
		border-color: $dark-mode-border-color !important;
	}

	.table {
		border-color: $dark-mode-border-color !important;
	}

	// .table thead th{
	// 	background-color: $dark-mode-darken !important;
	// }
	.text-muted {
		color: $gray-500 !important;
	}

	.card,
	.card-footer,
	.card-stacked::after,
	.footer:not(.footer-transparent),
	.modal-content,
	.modal-header,
	.dropdown-menu,
	.alert:not(.alert-important) {
		background-color: $dark;
		color: inherit;
	}
	.dropdown-menu a:hover {
		background-color: rgba($light, 0.2);
	}
	.dropdown-menu .dropdown-item {
		background-color: $dark;
		color: $light !important;
	}

	.card {
		border-color: transparent;
	}

	.card-tabs .nav-tabs .nav-link {
		background-color: $dark-mode-darken;
		color: inherit;
	}

	.breadcrumb .breadcrumb-item a {
		color: $text-muted !important;
	}

	.pagination .page-item a.page-link {
		padding: 2px;
		border: none !important;
		// background-color: $dark !important;
		background-color: $dark-mode-lighten !important;
		color: inherit;
	}

	.pagination .active a.page-link {
		background-color: $primary !important;
		color: inherit;
	}

	pre {
		background-color: $dark-mode-darken;
		border-color: $dark-mode-border-color;
	}

	.card-tabs .nav-tabs .nav-link.active {
		background-color: $dark;
		color: inherit;
	}

	.btn-white,
	.form-file-button {
		//@include button-variant($dark-mode-lighten, $border-color, $dark-mode-text, rgba($dark, 0), $border-color, $dark-mode-text);
		background-image: none;
	}

	.form-check-input:not(:checked),
	.form-select,
	.form-file-text,
	.form-control,
	.form-selectgroup-label,
	.form-selectgroup-check,
	.form-imagecheck-figure:before {
		background-color: $dark-mode-darken;
		color: $dark-mode-text;
		border-color: $dark-mode-border-color;
	}

	.form-control-plaintext {
		color: $dark-mode-text;
	}

	.input-group-flat .input-group-text {
		background-color: $dark-mode-darken;
	}

	.input-group-text {
		border-color: $dark-mode-border-color;
	}

	.select2-container--bootstrap-5 .select2-selection {
		color: $light !important;
		background-color: $dark-mode-darken !important;
		border-color: $dark-mode-border-color;
	}
	.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
		color: $light !important;
		background-color: $dark-mode-darken !important;
	}
	.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
		color: $light !important;
	}
	.select2-dropdown {
		background-color: $dark-mode-darken !important;
		border-color: $dark-mode-border-color;
	}

	.highlight {
		background-color: $dark-mode-darken;
	}

	.avatar {
		--#{$variable-prefix}avatar-bg: #{$dark-mode-lighten};
	}

	.avatar-list-stacked .avatar {
		box-shadow: 0 0 0 2px $dark;
	}

	.markdown,
	.markdown > *,
	.accordion-button {
		color: inherit;
	}

	.btn-close,
	.accordion-button:after {
		filter: $btn-close-white-filter;
	}

	.navbar-brand-autodark {
		@include autodark-image;
	}

	.table thead th,
	.input-group-text {
		color: rgba($light, 0.2);
		background: transparent;
	}

	.table tbody td {
		color: $light !important;
	}

	.list-group-item {
		color: $dark-mode-text;
		border-color: $border-color-transparent;
	}

	.list-group-header {
		background: $dark-mode-darken;
	}
}
