// @import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap);
// // @import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap);
// @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap);
// // @import url(https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap);
// @import url(https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700&display=swap);

/* sarabun-regular - thai */
@font-face {
	font-family: "Sarabun";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/sarabun-v12-thai-regular.eot"); /* IE9 Compat Modes */
	src: local(""), url("../fonts/sarabun-v12-thai-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/sarabun-v12-thai-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("../fonts/sarabun-v12-thai-regular.woff") format("woff"),
		/* Modern Browsers */ url("../fonts/sarabun-v12-thai-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../fonts/sarabun-v12-thai-regular.svg#Sarabun") format("svg"); /* Legacy iOS */
}
/* kanit-regular - thai */
@font-face {
	font-family: "Kanit";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/kanit-v11-thai-regular.eot"); /* IE9 Compat Modes */
	src: local(""), url("../fonts/kanit-v11-thai-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/kanit-v11-thai-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("../fonts/kanit-v11-thai-regular.woff") format("woff"),
		/* Modern Browsers */ url("../fonts/kanit-v11-thai-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../fonts/kanit-v11-thai-regular.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* itim-regular - thai */
@font-face {
	font-family: "Itim";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/itim-v8-thai-regular.eot"); /* IE9 Compat Modes */
	src: local(""), url("../fonts/itim-v8-thai-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/itim-v8-thai-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("../fonts/itim-v8-thai-regular.woff") format("woff"),
		/* Modern Browsers */ url("../fonts/itim-v8-thai-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../fonts/itim-v8-thai-regular.svg#Itim") format("svg"); /* Legacy iOS */
}

// @import "./bootstrap/functions";
// @import "./bootstrap/variables";
// @import "./bootstrap/mixins";
// @import "./bootstrap/root";

// @import "./bootstrap/utilities";
// @import "./bootstrap/reboot";
// @import "./bootstrap/type";
// @import "./bootstrap/images";
// @import "./bootstrap/containers";
// @import "./bootstrap/grid";
// @import "./bootstrap/nav";
// @import "./bootstrap/navbar";
// @import "./bootstrap/dropdown";
// @import "./bootstrap/breadcrumb";
// @import "./bootstrap/buttons";
// @import "./bootstrap/forms";
// @import "./bootstrap/card";
// @import "./bootstrap/pagination";
// @import "./bootstrap/tooltip";
// @import "./bootstrap/toasts";

// @import "./bootstrap/utilities/api";

@import "./bootstrap/bootstrap.scss";

@import "./custom/theme-dark";
@import "./custom/theme-light";
@import "./custom/tables";
@import "./custom/footer";
@import "./custom/breadcrumbs";
@import "./custom/pagination";
@import "./custom/icons";
@import "./custom/form-icons";

.dropdown-item,
.nav-link {
	cursor: pointer !important;
}

.fs-6 {
	font-size: 0.625rem !important;
}
.fs-8 {
	font-size: 0.825rem !important;
}
// @import "./custom/variables";
// @import "./tabler/mixins";
// @import "./tabler/mixins-override";

// @import "./custom/buttons";

// @import "./tabler/variables";
// @import "./tabler/ui/buttons";

// @import "./tabler/tabler";
